<div class="container">
<h1>Eat The Burger!</h1>
<br>
<img class="img-fluid" src="assets/img/Burger-illustration-vector-free-PNG.png">

<hr>

<div class="row">
<div class= "col-4">
<h2>Want to Eat!</h2>
<ul>
  {{#each burgers}}
      {{#unless devoured}}
    {{> burger-block devour=false}}
        {{/unless}}
  {{/each}}
</ul>
</div>
<div class= "col-4"></div>
<div class= "col-4">
<h2>Eaten!</h2>
<ul>
  {{#each burgers}}
      {{#if devoured}}
    {{> burger-block devour=true}}
        {{/if}}
  {{/each}}
</ul>
</div>
</div>

<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
    <button class = "btn" type="submit">Add Burger</button>
  </div>

</form>
</div>